div{
    width: 300px;
    height: 200px;
    background-color: black;
    background-image: url("https://static-cse.canva.com/blob/194906/Swirling-Stars-and-Space-Video-Zoom-Virtual-Background-1.jpg");
    background-repeat: repeat;
    background-size: 25%;
}